@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #020617;
}

canvas {
  height: 100vh !important;
  width: 100vw !important;
}

select option {
  background-color: #1e293b;
  color: #cbd5e1;
}
